@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme {
  --color-brand-700: #063e66;
  --color-brand-600: #084e80;
  --color-brand-100: #c4e6f0;
  --color-brand-050: #cfeafe;

  --color-action-primary: #084e80;
  --color-action-primary-hover: #063b61;
  --color-action-primary-pressed: #042c49;

  --color-danger-600: #d32f2f;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Desabilitado porque ainda não estamos usando modo dark */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1000px #063e66 inset;
  box-shadow: 0 0 0 1000px #063e66 inset;
  transition: background-color 9999s ease-in-out 0s;
}
