@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme {
  --color-brand-700: #063e66;
  --color-brand-600: #084e80;
  --color-brand-100: #c4e6f0;
  --color-brand-050: #cfeafe;

  --color-action-primary: #084e80;
  --color-action-primary-hover: #063b61;
  --color-action-primary-pressed: #042c49;

  --color-danger-600: #d32f2f;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Desabilitado porque ainda não estamos usando modo dark */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.animation-loading-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255 255 255 / 0.48),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
    left: 150%;
  }
}

.login-autofill-input:-webkit-autofill,
.login-autofill-input:-webkit-autofill:hover,
.login-autofill-input:-webkit-autofill:focus,
.login-autofill-input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1000px #0b527f inset;
  box-shadow: 0 0 0 1000px #0b527f inset;
  transition: background-color 9999s ease-in-out 0s;
}

.login-autofill-input:-webkit-autofill + label,
.login-autofill-input:-webkit-autofill:hover + label,
.login-autofill-input:-webkit-autofill:focus + label,
.login-autofill-input:-webkit-autofill:active + label {
  top: 0.5rem;
  transform: translateY(0);
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255 255 255 / 0.78);
}
